aiohttp
asyncio
beautifulsoup4
chromadb
deepdiff
fake-useragent
gspread
gspread-dataframe
httpx
lxml
oauth2client
pandas
playwright
pymongo
python-dateutil
python-dotenv
requests
retrying
schedule
selenium
sqlalchemy
2captcha-python